/* Custom CSS RULES */


/* = FONTS
-----------------------------------------------------------------------------*/

@font-face {
	font-family: Centuma-Thin;
	src: url("../fonts/Centuma-Regular.otf");
}

@font-face {
	font-family: Centuma-Bold;
	src: url("../fonts/Centuma-Bold.otf");
}

html * {
	font-family: centuma-thin;
}

body * {
	color: #ffffff;
	z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: centuma-bold;
}

@media only screen and (max-width: 40.063em) {
	.cis-title {
		font-size: 1em;
	}
}

@media only screen and (min-width: 40.063em) {
	.cis-title {
		font-size: 2em;
	}
}

@media only screen and (min-width: 60.0625em) {
	.cis-title {
		font-size: 2.3em;
	}
}


/* = HTML & GENERAL ELEMENTS
-----------------------------------------------------------------------------*/

.box-shadow{box-shadow: 5px 5px 5px #000;}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}
.border-black {
	border: solid black 1px;
}

.border-top-none {
	border-top: none;
}
.border-bottom-none {
	border-bottom: none;
}

.margin-side-collapse {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.padding-none {
	padding: 0rem;
}
.padding-top-none {
	padding-top: 0rem;
}
.padding-bottom-none {
	padding-bottom: 0rem;
}

.padding {
	padding: 0.9375rem;
}

.padding-top {
	padding-top: 0.9375rem;
}

.padding-bottom {
	padding-bottom: 0.9375rem;
}

.padding-double {
	padding: 1.875rem;
}

.padding-top-double {
	padding-top: 1.875rem;
}

.padding-bottom-double {
	padding-bottom: 1.875rem;
}

.margin-top-none {
	margin-top: 0rem;
}
.margin-bottom-none {
	margin-bottom: 0rem;
}

.margin-side-expand{
	margin-left: 0.9375rem;
	margin-right: 0.9375rem;
}

.margin {
	margin: 0.9375rem;
}

.margin-top {
	margin-top: 0.9375rem;
}

.margin-bottom {
	margin-bottom: 0.9375rem;
}

.margin-double {
	margin: 1.875rem;
}

.margin-top-double {
	margin-top: 0rem;
}

.margin-bottom-double {
	margin-bottom: 1.875rem;
}

.underline-black {
	border-bottom: solid 1px black;
}

.underline-white {
	border-bottom: solid white 1px;
}


/*Icon Font Styles in Footer*/

.icon-font {
	color: white;
	font-size: 2em;
	margin: 0 1vw;
	padding: 0;
}

.icon-font-small {
	color: white;
	font-size: 1.3em;
}


/*Max image height preventing fullscreen images
APPLY TO ALL IMAGES EXCEPT TITLE IMG
*/

.thumbnail-height {
	height: 10vw;
}

.image-max {
	max-height: 30vh;
}

.logo-max-height {
	max-height: 12rem;
}

#pageWrapper {
	min-height: 600px;
	min-height: 60vh;
}


/* = Nav Bar Top
-----------------------------------------------------------------------------*/
.top-bar.expanded .title-area{
	background: #E7E7E7;
}

.top-bar .toggle-topbar.menu-icon a span::after {
	box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}
.top-bar {
	background: -webkit-linear-gradient(white, #D9D9D9) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #D9D9D9) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #D9D9D9) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#D9D9D9, #FFFFFF) !important; /* Standard syntax */
}
.top-bar *{
	color: black;
}
.top-bar .right *{
	font-family: Centuma-Bold;
}
.top-bar-section .right li a{
	background-color: #FFF;
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.top-bar-section .social-icons li a{
	background: -webkit-linear-gradient(#d9d9d9, #EAEAEA) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d9d9d9, #EAEAEA) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d9d9d9, #EAEAEA) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d9d9d9, #EAEAEA) !important; /* Standard syntax */
}

.nav-transition {
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;	
}

.top-bar-section .right li:hover:not(.has-form) > a {
	background-color: #A9C6DF;
}

.top-bar-section .social-icons li:hover:not(.has-form) > a {
	background: #A9C6DF !important;
}

.top-bar-section .right li.active > a {
	background: #395B7C;
	color: white;
}
.top-bar-section .right li.active:hover > a{
	background: #384C61;
}

.logo {
	width: 40px;
	margin-left: 5px;
}
.logo:hover {
	background: rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px black;
	-webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
	
}

@media only screen and (max-width: 40.063em) {
	.top-bar {
		height: 2.5rem;
	}
}

@media only screen and (min-width: 40.063em) {
	.top-bar {
		height: 6rem;
		padding-top: 2.9rem;
		position: relative;
	}
	.social-icons {
		position: absolute;
		right: 0;
		top: -45px;
	}
	.logo {
		width: 70px;
		margin-top: -2.3rem;
	}
}

@media only screen and (max-width: 40.063em) {
	.social-icons {
		top: -35px;
	}
}

.social-icon-small:hover {
	background: #A9C6DF;
}

/* = EXECUTIVE PAGE
-----------------------------------------------------------------------------*/

.executiveImage {
	border-radius: 100%;
	border: solid #999999 1px;
}

.floor {
	display: table-cell;
	vertical-align: bottom;
	display: inline-block
}

.executiveCard {
	display: table;
}


/*Call-2-Action Buttons and background image*/

.action-button {
	font-size: 0.875rem;
	text-shadow: #000 0px 0px 5px;
	color: #FFF;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	background: rgba(250, 250, 250, 0.2);
	border: solid white 2px;
}

.action-button.is-active {
	background: #fff;
	color: #333;
	text-shadow: none;
}

.action-button:hover:not(.is-active) {
	background: rgba(250, 250, 250, 0.7);
	color: #333;
	transition: all .25s ease-in-out;
	text-shadow: none;
}

.action-button.is-active {
	background: #fff;
	color: #333;
	text-shadow: none;
}

.center-div {
	padding-top: 10rem;
}

.large-offset-0-5 {
	margin-left: 4.16666666%;
}


/*Background image for call 2 action*/

#introImage {
	background: url("../img/CIS%20Card%20Rock.jpg") no-repeat center center;
	background-size: cover;
	height: 20rem;
	z-index: 2;
}

.header h1,
.header h4 {
	color: #666;
}

.large-box {
	padding: 100vw;
}

.subnav {
	float: none;
	position: relative;
	top: 2.2rem;
	text-align: center;
	margin-bottom: 0;
}

@media only screen and (max-width: 40em) {
	.header {
		height: 30vh;
		min-height: 12em;
	}
}

@media only screen and (max-width: 40.063em) {
	.subnav li a {
		padding: 5vw 5vw;
	}
}

@media only screen and (min-width: 40.063em) {
	.subnav li a {
		padding: 2vw 10vw;
	}
}

.subnav li {
	float: none;
	display: inline-block;
	border: 2px solid white;
	margin: 10rem 0 5rem;
}

.subnav li a {
	font-size: 0.875rem;
	color: #fff;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
}

.subnav li a.is-active {
	background: #fff;
	color: #333;
}

.subnav li a:hover:not(.is-active) {
	background: rgba(250, 250, 250, 0.7);
	color: #333;
	transition: all .25s ease-in-out;
}

.cover-bg {
	background-size: cover;
	background-position: center;
}

.title-bg {
	background: #343434;
}

.xtra-dark {
	background-color: #000000;
	color: white;
}

.font-black {
	color: #000000 !important;
}
.font-white {
	color: #FFFFFF !important;
}

.font-italic {
	font-style: italic;
}

.dark {
	background-color: #343434;
}

.light-grey{background-color: #999999;}

.highlight {
	background-color: #C2D5EB;
}

.light {
	background-color: #D9D9D9;
}

.blue {
	background-color: #395B7C;
}
.dark-blue {
	background-color: #2D3640;
}
.medium-grey {
	background-color: #636363;
}

.no-border {
	border: none;
}

.border-black-left {
	border-left: solid black 1px;
}

.border-black-right {
	border-right: solid black 1px;
}

.title-line {
	padding-bottom: 2vw;
	border: none;
	border-bottom: solid white 3px;
}

.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.action-image {
	background-position: center;
	background-repeat: no-repeat;
}

.vertical-center {
	padding-top: 30vh;
	padding-bottom: 5vh;
}


@media only screen and (max-width: 40.063em) {
	div.icon-bar.label-right > * {
		text-align: left;
	}
	div.icon-bar {
		height: 100%;
		width: auto;
	}
	div.icon-bar .item {
		width: auto;
		margin: auto;
		float: none;
	}
}