@font-face {
	font-family: Falco;
	src: url("../fonts/Falco Black.ttf");
}

@font-face {
	font-family: Centuma-Thin;
	src: url("../fonts/Centuma-Regular.otf");
}

@font-face {
	font-family: Centuma-Bold;
	src: url("../fonts/Centuma-Bold.otf");
}

body {
	font-family: Centuma-Thin;
}

header,
.title-bar {
	display: flex;
	justify-content: center;
	background-color: #343434;
	color: white;
	align-items: center;
	flex-direction: column;
}

.action-image {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 55vh;
	background-image: url(cis.jpg);
	/*	background-image: url("http://placehold.it/809x300");*/
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.what-is,
.new-members {
	margin: 2em;
	padding: 1em;
	flex: 1;
	text-align: center;
	max-width: 20%;
	border: #d9d9d9 solid 3px;
	background: linear-gradient(#5A8CB9, #395B7C);
, );
}

.what-is {
	align-self: flex-end;
}

a:link,
a:visited,
a:active {
	color: white;
	text-decoration: none;
}

.what-is:hover,
.new-members:hover {
	background: #A9C6DF;
	border: white 3px solid;
}

.new-members {
	align-self: flex-end;
}

.title {
	font-family: Centuma-Bold;
	text-align: center;
	font-size: 2.7em;
	padding: 0.5em;
}

nav {
	border-top: solid white 5px;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	width: 30em;
	font-family: Centuma-Thin;
}

.logo {
	padding-bottom: 1em;
	margin-bottom: 0;
}
.home:hover, .opportunities:hover, .events:hover, .about:hover, .search:hover{
	background-color: #A9C6DF ;
}

.menu {
	flex-shrink: 0;
	flex-basis: auto;	
	display: flex;
	align-self: center;
	padding: 1em;
}

.title-bar > div {
	margin: 0em 1em 0em 1em;
}

content {
	display: flex;
	background-color: #D9D9D9;
	flex-direction: column;
}

.side {
	flex: 1;
}

.news {
	flex: 1;
}
.main {
	display: flex;
	flex-direction: row;
}
.side,
.news {
	border-radius: 10px;
	padding: 4em 3em;
	margin: 1em;
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0 0 1em;
	font-size: 1.4em;
	font-family: Centuma-Bold;
}

footer {
	background-color: #343434;
	color: white;
}

.connect {
	display: flex;
	align-content: center;
	justify-content: space-around;
	padding: 1em;
}

.connect a {
	text-align: center;
	align-self: ;
}
.active {
	background-color: #a9c6df;
}
